body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
}

.hero-sec {
    text-align: center;
    color: white;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(246, 246, 247, 0)), url(images/donation1.jpg);
    background-blend-mode: hard-light;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    padding: 100px 500px 100px 500px;

}

.para-one {
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 60px;
}

.hero-heading {
    font-size: 80px;
    margin-bottom: 0px;
}

.buttons {
    text-decoration: none;
    background-color: tomato;
    padding: 15px;
    color: white;
    font-weight: 900;
    font-size: 18px;
    border-radius: 5px;
}