body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
}

/* Hero section start */
.hero-sec {
    text-align: center;
    color: white;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(246, 246, 247, 0)), url(images/donation1.jpg);
    background-blend-mode: hard-light;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    padding: 100px 500px 100px 500px;
    margin-bottom: 100px;

}

.para-one {
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 500;
}

.other-amount {
    font-size: 20;
    text-align: center;
}

.hero-heading {
    font-size: 80px;
    margin-bottom: 0px;
}

.buttons {
    text-decoration: none;
    background-color: tomato;
    padding: 20px;
    color: white;
    font-weight: 900;
    font-size: 18px;
    border-radius: 5px;
}

/* Hero section ends */

/* Section two styling start */

.section-two {
    text-align: center;
    margin-bottom: 100px;
    padding-left: 400px;
    padding-right: 400px;
}

.sec-two-heading {
    font-size: 50px;
    font-weight: bolder;
}

.donation-amount {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    width: 50%;
}

.taka {

    background-color: rgba(246, 246, 246, 0.791);
    margin: 10px;
    padding: 20px 25px 20px 25px;
    border-radius: 5px;
}

.taka-amount {
    font-size: 40px;
    font-weight: bold;
    color: dimgray;
}

#red-box {
    border: 3px solid tomato;
    background-color: rgb(240, 223, 223);
}

#red-text {
    color: tomato;
}

.small-para {

    text-align: center;
}

hr {
    width: 50%;
    color: rgba(246, 244, 244, 0.966);
    margin-bottom: 60px;
}

.btn-two {
    text-align: center;
    margin-bottom: 150px;
}

/* Section two styling ends */

/* Section three styling start */

.sec-three {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: -50px;
}

/* Section three styling ends */

/* Section four styling start */

.sec-four-para {
    font-size: 20px;
    font-weight: 500;
}

.sec-four {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;

}

.sec-four-div {
    text-align: center;
    margin: 20px 15px 20px 15px;
    padding: 80px 30px 80px 30px;
}

#bg-color-one {
    background-color: azure;
}

#bg-color-two {
    background-color: mistyrose;
}

#bg-color-three {
    background-color: bisque;
}

/* Section four styling ends */

/* Section five styling starts */

.sec-five {
    height: 300px;
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 500px;

}

.div-five {
    padding: 50px;
}

.div-five h1 {
    font-size: 50px;
    font-weight: 700px;

}

.div-five p {
    font-size: 20px;
    margin-bottom: 50px;
}

.div-five-img {

    padding: 20px 20px 20px 80px;
    margin-left: 30px;
    size: 20px;
}

/* Section five styling ends */

/* Section six styling starts */

.sec-six {
    height: 300px;
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 350px;

}

.div-six {
    width: 50%;
    padding: 50px;
}

.div-six h1 {
    font-size: 50px;
    font-weight: 700px;

}

.div-six p {
    font-size: 20px;
    margin-bottom: 50px;
}

.div-six-img {


    padding: 20px 20px 20px 80px;
    margin-left: 30px;

}

/* Section six styling ends */

/* Section seven styling start */

.sec-seven {
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 100px;
}

.sec-seven-div h1 {
    font-size: 50px;
    font-weight: 700px;
}

.sec-seven-div p {
    font-size: 20px;
    margin-bottom: 50px;
}

.sec-seven-div {
    margin-bottom: 50px;
}

/* Email subscription form */

.email-form {
    width: 1000px;
    margin-left: -160px;
    display: flex;
    height: 200px;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
}

.mail-box input {
    width: 250px;
    height: 30px;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    background-color: rgb(217, 217, 217);
    color: black;
    margin: 0px;
    border-radius: 5px 0px 0px 5px;
}

.mail-box button {

    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 16px 20px;
    margin-left: -5px;
    border: none;
    font-size: 15px;
    border-radius: 0px 5px 5px 0px;
}

/* Email subscription form */


/* Section seven styling ends */

/* extra section styling starts */

.activity {
    text-align: center;
    color: black;
    background-color: rgb(203, 203, 203);
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.activity h1 {
    font-size: 50px;
}

.activity-divs {
    display: flex;
    color: white;
}

.activity-block {
    margin: 0px 30px 0px 30px;
    height: 200px;
    width: 350px;
}

.activity-block h1 {
    font-size: 50px;

}

.activity-block p {
    font-size: 25px;
    font-weight: 700px;
    margin-bottom: -40px;
}

#b-one {
    background-image: url(images/business-4677639_640.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    overflow: hidden;
    background-color: rgba(49, 48, 48, 0.743);
    background-blend-mode: multiply;
}

#b-two {
    background-image: url(images/coins-912278_640.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    overflow: hidden;
    background-color: rgb(49, 48, 48);
    background-blend-mode: soft-light;
}

#b-three {
    background-image: url(images/dollar-3313761_640.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    overflow: hidden;
    background-color: rgb(49, 48, 48);
    background-blend-mode: soft-light;
}

#b-four {
    background-image: url(images/competence-2741773_640.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    overflow: hidden;
    background-color: rgb(49, 48, 48);
    background-blend-mode: soft-light;
}

/* extra section styling ends */

/* Footer */
.footer {
    text-align: center;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer h2 {
    color: red;
    font-family: 'Lobster', cursive;
    font-weight: 20;
}

.footer p {
    color: white;
}

/* Footer ends */